body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(to right, #0d47a1, #1976d2);
        color: #fff;
    }

    .container {
        background: #1976d2;
        background-size: contain;  
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: auto;
        padding: 20px;
    }

    .left {
        flex: 1;
        min-width: 250px;
        max-width: 300px;
        text-align: center;
        background: rgba(33, 67, 240, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-right: 20px;
    }

    .left img {
        width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 4px solid #cef7f7;
            object-fit: cover;
    }

    .name {
        background: #3775e9;
        padding: 10px;
        margin-top: 50px;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(1, 1, 1, 0.7);
    
    }


    .right {
        flex: 2;
        min-width: 300px;
        background: rgba(13, 144, 232, 0.1);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 8px 20px rgba(1, 1, 1, 0.7);
    }

    .section {
        margin-bottom: 20px;
    }

    .section h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 2px solid rgba(233, 234, 246, 0.3);
        padding-bottom: 5px;
    }

    .section p, .section ul {
        margin: 0;
        padding-left: 25px;
        line-height: 1.6;
    }

    .section ul {
        list-style: none;
    }

    .section ul li::before {
        color: #90caf9;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
        .left {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }